//--------------------
// SCSS MIXINS
//--------------------

@mixin mq($name) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin mq-down($name) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media (max-width: ($min - 1px)) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin sr-only {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    clip: auto;
    overflow: visible;
    width: auto;
    height: auto;
    white-space: normal;
  }
}

@mixin hyphenate() {
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@mixin coverall() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin scrollable() {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin button-reset() {
  padding: 0;
  border: 0;
  background-color: transparent;
  -webkit-appearance: none;
}
