/*  ==========================================================================
    Breakpoint
    ========================================================================== */

$breakpoint-max-modifier: 0.02px;
$breakpoints-infix: map-merge(
  (
    base: 0,
  ),
  $breakpoints
);
