/*  ==========================================================================
    Typography
    ========================================================================== */

/*  Text
    ========================================================================== */

$text-size: (
  xs: (
    size: $font-size-xs,
    height: $line-height-xs,
  ),
  sm: (
    size: $font-size-sm,
    height: $line-height-sm,
  ),
  md: (
    size: $font-size-md,
    height: $line-height-md,
  ),
  lg: (
    size: $font-size-lg,
    height: $line-height-lg,
  ),
  xl: (
    size: $font-size-xl,
    height: $line-height-xl,
  ),
  2xl: (
    size: $font-size-2xl,
    height: $line-height-2xl,
  ),
  3xl: (
    size: $font-size-3xl,
    height: $line-height-3xl,
    weight: $font-weight-bold,
  ),
);
