/*  ==========================================================================
    Box shadow
    ========================================================================== */

@function convert-elevation($level, $direction: bottom) {
  $cross-offset-raw: nth($level, 1);
  $main-offset-raw: nth($level, 2);
  $blur-raw: nth($level, 3);
  $spread-raw: nth($level, 4);

  $h-offset-raw: $cross-offset-raw;
  $v-offset-raw: $main-offset-raw;

  @if $direction == top {
    $h-offset-raw: $cross-offset-raw;
    $v-offset-raw: $main-offset-raw * -1;
  }

  @if $direction == right {
    $h-offset-raw: $main-offset-raw;
    $v-offset-raw: $cross-offset-raw;
  }

  @if $direction == left {
    $h-offset-raw: $main-offset-raw * -1;
    $v-offset-raw: $cross-offset-raw;
  }

  $h-offset: if($h-offset-raw == 0, $h-offset-raw, $h-offset-raw + px);
  $v-offset: if($v-offset-raw == 0, $v-offset-raw, $v-offset-raw + px);
  $blur: if($blur-raw == 0, $blur-raw, $blur-raw + px);
  $spread: if($spread-raw == 0, $spread-raw, $spread-raw + px);

  @return #{$h-offset $v-offset $blur $spread};
}
