/*  ==========================================================================
    Focus
    ========================================================================== */

/*  Exceptions
    ========================================================================== */

/* sections excluded from the tabindex */
[tabindex='-1']:focus {
  outline: none !important;
}

/* links that are both focused and hovered */
a:focus:hover {
  outline: none;
}
