/*  ==========================================================================
    Interactive elements
    ========================================================================== */

/* Link and button
 * 1. Inherit text-color in all browsers
 * 2. Always show pointer cursor
 * 3. Set default transition
 */

a,
button {
  color: inherit; /* 1 */
  cursor: pointer; /* 2 */
  transition: $animate-duration; /* 3 */
}

/* Link
 * 1. Remove default text decoration for links
 * 2. Remove outline
 * 3. Remove the gray background on active links in IE 10.
 * 4. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  text-decoration: none; /* 1 */
  background-color: transparent; /* 3 */
  outline-width: 0; /* 2 */
  -webkit-text-decoration-skip: objects; /* 4 */

  &[disabled] {
    pointer-events: none;
  }
}

/* Button
 * 1. Reset the native appearance in all browsers
 * 2. Make IE behave
 */

button {
  overflow: visible; /* 2 */
  border: 0; /* 1 */
  font: inherit; /* 1 */
  -webkit-font-smoothing: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  background: none; /* 1 */
}

a:focus,
button:focus,
input:focus {
  outline: 5px solid $color-focus;
}
