/* Resets
   ========================================================================== */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: $font-weight-bold;
}

/* Horizontal rule */
hr {
  margin: grid-unit(2) 0;
  border: 0;
  border-top: 1px solid $color-black-100;
}

/* Marked content */
mark {
  background-color: $color-orange-200;
}
