/*  ==========================================================================
    Link
    ========================================================================== */

@mixin link() {
  @include property-states('color', inherit, $color-blue-800, $color-blue-900);

  text-decoration: underline;
  fill: currentColor;

  @include focus-visible {
    box-shadow: focus-shadow(false);
  }
}
