.nav {
  &__menu {
    position: absolute;
    right: 0;
    left: 0;
    display: none;
    background-color: #fff;
  }

  &__link {
    display: block;
    padding: 0.5em 1em;
  }

  &__toggle {
    @include button-reset;
  }

  @include mq-down(lg) {
    &.is-open &__menu {
      display: block;
    }
  }

  @include mq(lg) {
    &__toggle {
      display: none;
    }

    &__menu {
      position: static;
      display: flex;
      background-color: transparent;
    }
  }
}
