/*  ==========================================================================
    Panel
    ========================================================================== */

@mixin panel($type: local, $shadow-direction: bottom) {
  $panel_background-color: hsl(0, 0%, 100%);
  $panel_border-color: hsl(0, 0%, 80%);

  background-color: $panel-background-color;

  @if ($type == local) {
    @include box-shadow(6);

    border: 1px solid $panel-border-color;
    border-radius: $border-radius;
  } @else if($type == global) {
    @if ($shadow-direction == top or right or bottom or left) {
      @include box-shadow(8, $shadow-direction);
    } @else {
      @error "Allowed values for '$shadow-direction' are 'top', 'right', 'bottom', 'left', you provided #{$shadow-direction}";
    }
  } @else {
    @error "Allowed values for '$type' are 'local' or 'global', you provided #{$type}";
  }
}
