<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>
        <a href="http://github.com/pvds/eleventy-boilerplate">
            {% icon "github" %}Pragmatics Eleventy boilerplate
        </a>
    </div>
</footer>
