/*  ==========================================================================
    Footer
    ========================================================================== */

.footer {
  padding: grid-unit(2) 0;
  font-size: $font-size-xs;
  background-color: $color-black-100;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
