/*  ==========================================================================
    Menu icon
    ========================================================================== */

.menu-icon {
  $block: &;

  position: relative;
  display: block;
  width: grid-unit(2.5);
  height: grid-unit(2);
  margin: 0 auto;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform $animate-duration-medium ease-in-out;

  &__bar {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: rotate(0deg);
    transition: transform $animate-duration-medium ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 50%;
    }

    &:nth-child(4) {
      top: 100%;
    }
  }

  // Active State: Transform to "X"
  .is-open & {
    top: 2px;
    transform: rotate(-180deg);

    #{$block} {
      &__bar {
        &:nth-child(1),
        &:nth-child(4) {
          top: 50%;
          left: 50%;
          width: 0;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
