/*  ==========================================================================
    Colors
    ========================================================================== */

/*  Color palettes
    ========================================================================== */

/* Black */
$color-black-900: get-color-scale($color-black, 900);
$color-black-800: get-color-scale($color-black, 800);
$color-black-700: get-color-scale($color-black, 700);
$color-black-600: get-color-scale($color-black, 600);
$color-black-500: get-color-scale($color-black, 500);
$color-black-400: get-color-scale($color-black, 400);
$color-black-300: get-color-scale($color-black, 300);
$color-black-200: get-color-scale($color-black, 200);
$color-black-100: get-color-scale($color-black, 100);

/* Blue */
$color-blue-900: get-color-scale($color-blue, 900);
$color-blue-800: get-color-scale($color-blue, 800);
$color-blue-700: get-color-scale($color-blue, 700);
$color-blue-600: get-color-scale($color-blue, 600);
$color-blue-500: get-color-scale($color-blue, 500);
$color-blue-400: get-color-scale($color-blue, 400);
$color-blue-300: get-color-scale($color-blue, 300);
$color-blue-200: get-color-scale($color-blue, 200);
$color-blue-100: get-color-scale($color-blue, 100);

/* Purple */
$color-purple-900: get-color-scale($color-purple, 900);
$color-purple-800: get-color-scale($color-purple, 800);
$color-purple-700: get-color-scale($color-purple, 700);
$color-purple-600: get-color-scale($color-purple, 600);
$color-purple-500: get-color-scale($color-purple, 500);
$color-purple-400: get-color-scale($color-purple, 400);
$color-purple-300: get-color-scale($color-purple, 300);
$color-purple-200: get-color-scale($color-purple, 200);
$color-purple-100: get-color-scale($color-purple, 100);

/* Red */
$color-red-900: get-color-scale($color-red, 900);
$color-red-800: get-color-scale($color-red, 800);
$color-red-700: get-color-scale($color-red, 700);
$color-red-600: get-color-scale($color-red, 600);
$color-red-500: get-color-scale($color-red, 500);
$color-red-400: get-color-scale($color-red, 400);
$color-red-300: get-color-scale($color-red, 300);
$color-red-200: get-color-scale($color-red, 200);
$color-red-100: get-color-scale($color-red, 100);

/* orange */
$color-orange-900: get-color-scale($color-orange, 900);
$color-orange-800: get-color-scale($color-orange, 800);
$color-orange-700: get-color-scale($color-orange, 700);
$color-orange-600: get-color-scale($color-orange, 600);
$color-orange-500: get-color-scale($color-orange, 500);
$color-orange-400: get-color-scale($color-orange, 400);
$color-orange-300: get-color-scale($color-orange, 300);
$color-orange-200: get-color-scale($color-orange, 200);
$color-orange-100: get-color-scale($color-orange, 100);

/* Green */
$color-green-900: get-color-scale($color-green, 900);
$color-green-800: get-color-scale($color-green, 800);
$color-green-700: get-color-scale($color-green, 700);
$color-green-600: get-color-scale($color-green, 600);
$color-green-500: get-color-scale($color-green, 500);
$color-green-400: get-color-scale($color-green, 400);
$color-green-300: get-color-scale($color-green, 300);
$color-green-200: get-color-scale($color-green, 200);
$color-green-100: get-color-scale($color-green, 100);

/*  Color implementation
    ========================================================================== */

/* text */
$color-text: rgba($color-black, $color-opacity-high);
$color-text-soft: rgba($color-black, $color-opacity-medium);
$color-text-muted: rgba($color-black, $color-opacity-low);

/* Distinction */
$color-divider: $color-black-100;
$color-overlay: $color-black-900;
$color-shadow: $color-blue-800;
$color-shadow-dark: $color-overlay;

/* States */
$color-selected: $color-blue-900;
$color-focus: $color-orange-600;
$color-disabled: color-disabled();

$color-selection-bg: $color-blue-800;
$color-selection-text: $color-white;

$color-hover-text: $color-blue-800;
$color-hover-background: $color-blue-200;
$color-pressed-text: $color-blue-900;
$color-pressed-background: $color-blue-300;

/* Status */
$color-info: $color-blue-700;
$color-info-background: $color-blue-100;
$color-info-border: $color-info;

$color-danger: $color-red-700;
$color-danger-background: $color-red-100;
$color-danger-border: $color-danger;

$color-warning: $color-orange-700;
$color-warning-background: $color-orange-100;
$color-warning-border: $color-warning;

$color-success: $color-green-700;
$color-success-background: $color-green-100;
$color-success-border: $color-success;
