/*  ==========================================================================
    Typography
    ========================================================================== */

/*  Font properties
    ========================================================================== */

/* Family */
$font-family-base: system, -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI',
  'Helvetica Neue', 'Lucida Grande', sans-serif;
$font-family-monospace: consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
  'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
  'Nimbus Mono L', monaco, 'Courier New', courier, monospace;

/* Weight */
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* Size */
$font-size-root: 100%;
$font-size-xs: 1rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.6rem;
$font-size-xl: 2rem;
$font-size-2xl: 2.4rem;

/*  Line height
    ========================================================================== */

$line-height: 1.625;
$line-height-xs: 1.2rem;
$line-height-sm: 1.4rem;
$line-height-md: 1.6rem;
$line-height-lg: 2rem;
$line-height-xl: 2.4rem;
$line-height-xl: 2.8rem;
