/* ==========================================================================
   Project-wide settings
   ========================================================================== */

/* Breakpoint
   ========================================================================== */

$breakpoints: (
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1800px,
) !default;

/* Container
   ========================================================================== */

$container-max-width: 1600px !default;

/* Z-index
   ========================================================================== */

$z-layers: (overlay-global, nav, overlay-content) !default;

/* Spacing
   ========================================================================== */

$grid-unit: 1rem !default;

/* Typography
   ========================================================================== */

$font-size-base: 1rem !default;

/* Colors
   ========================================================================== */

$color-black: hsl(0, 0%, 10%) !default;
$color-white: hsl(360, 100%, 100%) !default;
$color-blue: hsl(204, 100%, 10%) !default;
$color-purple: hsl(286, 100%, 10%) !default;
$color-red: hsl(0, 100%, 10%) !default;
$color-orange: hsl(26, 100%, 10%) !default;
$color-green: hsl(104, 100%, 10%) !default;

$color-opacity-max: 0.95 !default;
$color-opacity-high: 0.9 !default;
$color-opacity-medium: 0.6 !default;
$color-opacity-low: 0.4 !default;

$color-text: rgba($color-black, $color-opacity-high) !default;
$color-text-soft: rgba($color-black, $color-opacity-medium) !default;
$color-text-muted: rgba($color-black, $color-opacity-low) !default;

/* Theming
   ========================================================================== */

$border-radius: 0.25rem !default;
$box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
