// Main Site Layout
body {
  overflow-x: hidden;
}

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;

  .header,
  .footer {
    flex: none;
  }

  .main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    &::after {
      content: '';
      display: block;
      height: 0;
      visibility: hidden;
    }
  }
}

.container {
  width: 90%;
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
}
